<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '../app/Resources/public/css/*' %}
                <link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="system-message-container">
            <dl id="system-message">

            </dl>
        </div>
        <div class="container">
            {% block header %}
                {% include '::header.html.twig' %}
            {% endblock %}
            {% block body %}{% endblock %}
            {% block footer %}{% endblock %}
            {% block javascripts %}
                <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                {% javascripts '../app/Resources/public/js/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endblock %}
        </div>
    </body>
</html>
