<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Черкаська мрія{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            {% stylesheets 'bundles/assets/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <div id="system-message-container">
            <dl id="system-message">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-notice">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            </dl>
        </div>
        <div class="container">
            {% block header %}
                {% include '::header.html.twig' %}
            {% endblock %}
            {% block body %}
                {% block fos_user_content %}{% endblock %}
            {% endblock %}
            {% block footer %}
                <div class="footer">
                    <span class="copy">&copy; 2012 Черкаська мрія</span>
                    <ul class="links">
                        <li>
                            <a href="#">Мрії</a>
                        </li>
                        <li>
                            <a href="#">Регламент та поради</a>
                        </li>
                        <li>
                            <a href="#">Підписатись на оновлення</a>
                        </li>
                        <li>
                            <a href="#">Контакти</a>
                        </li>
                    </ul>
                    <ul class="follow">
                        <li><label>Слідкуйте за нами</label></li>
                        <li><a class="fb" href="#">facebook</a></li>
                        <li><a class="vk" href="#">vk</a></li>
                        <li><a class="ok" href="#">ok</a></li>
                        <li><a class="tw" href="#">twitter</a></li>
                    </ul>
                    <ul class="development">
                        <li>Розробка: <a href="#" class="dev"></a></li>
                        <li>Дизайн: <a href="#" class="design"></a></li>
                    </ul>
                </div>
            {% endblock %}
            {% block javascripts %}
                <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
                {% javascripts 'bundles/assets/js/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endblock %}
        </div>
    </body>
</html>
