parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            uk
    secret:            ThisTokenIsNotSoSecretChangeIt

#    OAuth parameters
    facebook_app_id:      1
    facebook_app_secret:  1
    vkontakte_app_id:     1
    vkontakte_app_secret: 1
    odnoklassniki_app_id:       1
    odnoklassniki_app_secret:   1
    odnoklassniki_app_key:      1

#    swiftmailer
    delivery_address:         example@gmail.com
    swiftmailer_host:         smtp.gmail.com
    swiftmailer_username:     username
    swiftmailer_password:     password
