<p class="progressbar-info">
    Грошей - <span id="finance-percent">{{ progressBar.finance*100 }}</span>%
</p>
<div id="progressbar-finance" class="tiny-green"><div></div></div>

<p class="progressbar-info">
    Інструментів та обладнання - <span id="equipment-percent">{{ progressBar.equipment*100 }}</span>%
</p>
<div id="progressbar-equipment" class="tiny-green"><div></div></div>

<p class="progressbar-info">
    Робочих ресурсів - <span id="work-percent">{{ progressBar.work*100 }}</span>%
</p>
<div id="progressbar-work" class="tiny-green"><div></div></div>