.container { position: relative; width: 1100px; margin: 0 auto; padding: 0; }

#logo { float: left; margin: 0; padding-right: 30px; }
#navigation li { list-style: none; float: left; padding-right: 10px; padding-top: 15px; }
#header a { text-decoration: none; }
#header a:hover { text-decoration: underline; }
#sign-in { padding-top: 15px; padding-right: 10px; float: left; }
#search { padding-top: 15px; }
.social-sign-in { padding-right: 5px; }

.front-dream { float: left; width: 30%; border: 4px double black; margin: 5px; padding: 5px;}
.front-dream .like { border-top: 1px solid #000000; border-bottom: 1px solid #000000; }
li { list-style-type: none }

#overlay_form {
    position: absolute;
    border: 5px solid gray;
    padding: 10px;
    background: white;
    width: 550px;
    height: 120px;
}
#overlay_form input {
    width: 450px;
}
#pop {
    text-decoration: none;
}

