{% extends '::base.html.twig' %}

{% block title %}Черкаська мрія{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="bundles/wellcome/css/style.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="bundles/wellcome/css/ie.css" type="text/css" charset="utf-8" />
{% endblock %}
{% block javascripts %}
    <script language="Javascript" type="text/javascript" src="bundles/wellcome/js/script.js"></script>
{% endblock %}
{% block body %}
    <div id="wrapper">
        <div id="logo"></div>
    </div> <!-- end of logo -->
{% endblock %}